<div class="topical">
    <div>
        <h3>Triaje</h3>
    </div>
    <div class="container">
        <div class="row">
          <div class="col md-4" >
            <h5>Lista de espera</h5>
            <div class="card" >
                <div class="table-responsive-xxl">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Nombre</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>08013021</td>
                            <td>Lazaro Shacua</td>
                            <td>Erick Adrian</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>06541237</td>
                            <td>Lázaro Jimenez</td>
                            <td>Herminion</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>78065412</td>
                            <td>Parker Chomba</td>
                            <td>Peter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
          </div>
          </div>
    </div>
    <div style="text-align:center; margin:1rem">
        <button type="button" class="btn btn-primary" style="margin: 1rem;">Recepcionar</button>
    </div>
    <div class="container">
        <div class="row">
          <div class="col md-4 mb-2" >
            <h5>Datos del asegurado</h5>
            <div class="card mb-2" >
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4 mb-2">
                            <h6 class="card-subtitle mb-2 text-muted">DNI</h6>
                            <input type="text" class="form-control" placeholder="" disabled>
                          </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                          <h6 class="card-subtitle mb-2 text-muted">Nombre</h6>
                          <input type="text" class="form-control" placeholder="" disabled>
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                          <h6 class="card-subtitle mb-2 text-muted">Apellido</h6>
                          <input type="text" class="form-control" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 mb-2">
                            <h6 class="card-subtitle mb-2 text-muted">Historia clínica</h6>
                            <input type="text" class="form-control" placeholder="" disabled>
                          </div>
                          <div class="form-group col-sm-4 mb-2">
                            <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
                            <input type="text" class="form-control" placeholder="" disabled>
                          </div>
                          <div class="form-group col-sm-4 mb-2">
                              <h6 class="card-subtitle mb-2 text-muted">Edad</h6>
                              <input type="text" class="form-control" placeholder="" disabled>
                          </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Peso</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">Kg.</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Talla</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">cm.</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Fr. Respiratoria</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">rpm</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Presión arterial</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">mm.</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">/</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">Hg</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Fr. Cardiaca</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">ppm.</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Sat. O2</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">cm.</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Temperatura</span>
                                  </div>
                                  <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <span class="input-group-text">°C</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <div class="col-md-14 mb-2">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Fiebre</span>
                                  </div>
                                  <div>
                                    <mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center; margin:1rem">
    <button type="button" class="btn btn-primary" style="margin: 1rem;">Derivar</button>
</div>
