<div class="urgency">
  <div>
      <h3>Urgencias</h3>
  </div>
  <div class="container">
      <div class="row">
        <div class="col md-4" >
          <h5>Datos del paciente registrado a atender</h5>
          <div class="card"  >
            <div class="card-body">
                <div class="row">
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="DNI">
                    </div>
                    <div class="form-group col-sm-2 mb-2">
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">Historia clínica</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">DNI</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                          <h6 class="card-subtitle mb-2 text-muted">Edad</h6>
                          <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Nombres</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Apellidos</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                  <div style="text-align:center; ">
                    <button type="button" class="btn btn-primary" style="margin: 1rem;">Mandar con prioridad a Triaje</button>
                  </div>
              </div>
                 </div>
            </div>
  </div>
</div>
