/*.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 637px;
}*/

/*SIDENAV MENU */

.sidenav-menu-container{
    z-index: 999;
    height: 100%;
    width: 322px;
    background: #ffffff;;
    /*para mantener en su sitio*/
    position: fixed;
    top: -3;
    left: 0;
}
.sidenav-menu-container-inner{
    width:280px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-x:hidden;
    overflow-y: auto;
}
.sidenav-menu-body{
    display: flex;
    flex-direction:column ;
    margin-top:10px;
    height: 100%;
}
.sidenav-menu-list{
    width: 280px;
    position: relative;
}
.sidenav-menu-items{
    margin-top:3px;
    padding: 0;
}
.sdnav-menu-items_li{
    padding: 7px ;
    border-bottom-color: 0032a0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 260px;
}

.sdnav-menu-items-inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#000000; 
    font-size: 20px;
    font-family: fantasy;
}
.sdnav-menu-items-inner:hover{
    color: #0032a0;
}
.sdnav-menu-items-inner:visited{
    color: #0032a0;
}


.material-icons:hover{
    color: #FFF;
}

#img-log{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}


mat-sidenav-container{
    height: 1828px;
    width: 100%;
    
}
mat-sidenav-content{
    width: 100%;
    margin-right: 0px;
    background-color: #ffffff;
}
