
<div class="esl-container">
    <mat-sidenav-container >
        <mat-sidenav class="sidenav-menu-container" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
            <mat-nav-list>
                <div >
                    <div class="sidenav-menu-container-inner">
                        <div id="img-log" >
                            <img class="logo" src="">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="sidenav-menu-body">
                            <div class="sidenav-menu-list">
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner" >
                                                <span class="material-icons">sanitizer</span>
                                                <div style="padding-left: 10px;">FARMACIA</div> 
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/maps"> 
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">inventory</span>
                                                <div style="padding-left: 10px;">PRODUCTOS</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/players">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">schema</span>
                                                <div style="padding-left: 10px;">CATEGORIAS</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/teams">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">content_paste</span>
                                                <div style="padding-left: 10px;">ALMACEN</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/players">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">person</span>
                                                <div  style="padding-left: 10px;">ESTUDIANTES</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/#">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">edit_note</span>
                                                <div style="padding-left: 10px;">UNIDAD DE ADMISION</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/#">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">
                                                    favorite_border
                                                    </span>
                                                <div style="padding-left: 10px;">TOPICO</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/#">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">local_hospital</span>
                                                <div style="padding-left: 10px;">MEDICINA</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="sidenav-menu-items">
                                    <a mat-list-item style="padding:0px;" routerLink="/#">
                                        <div class="sdnav-menu-items_li">
                                            <div class="sdnav-menu-items-inner">
                                                <span class="material-icons">transgender</span>
                                                <div style="padding-left: 10px;">CUSTOMER</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <p><button mat-button (click)="sidenav.toggle()"><span class="material-icons">menu_open</span></button></p>
            <mat-divider></mat-divider>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>