<div class="laboratory">
  <div>
      <h3>Laboratorio</h3>
  </div>
  <div class="container">
      <div class="row">
        <div class="col md-4" >
          <h5>Datos del paciente</h5>
          <div class="card"  >
            <div class="card-body">
                <div class="row">
                  <br>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="DNI">
                    </div>
                    <div class="form-group col-sm-2 mb-2">
                        <button type="button" class="btn btn-primary"> Buscar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">Historia clínica</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">DNI</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                          <h6 class="card-subtitle mb-2 text-muted">Edad</h6>
                          <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Nombres</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Apellidos</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                  <div style="text-align:center; ">
                    <button type="button" class="btn btn-primary" style="margin: 1rem;">Seleccionar Paciente</button>
                  </div>
              </div>
                 </div>
            </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col md-4" >
      <br>
      <h5>Reporte de Laboratorio</h5>
      <div class="card" >
        <div class="card-body">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"> </th>
                  <th scope="col">Bioquímica</th>
                  <th scope="col">Resultado</th>
                  <th scope="col">Valor Normal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Glucosa</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Urea Sérica</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Creatinina Sérica</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Ácido Úrico</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Lípidos Totales</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Colesterol Total</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Colesterol HDL</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Colesterol LDL</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Colesterol VLDL</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Trigliceridos</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Bilirrubina Total</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Bilirrubina Directa</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Bilirrubina Indirecta</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Proteínas Totales</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Albúmina Sérica</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Globulinas Séricas</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Transaminasas GO</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Transaminasas GP</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
                <tr>
                  <td><mat-slide-toggle [color]="color"style="margin-left:1rem;"></mat-slide-toggle></td>
                  <td>Fosfatasa Alcalina</td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                  <td><input type="text"  placeholder="" class="form-control"></td>
                </tr>
              </tbody>
            </table>
        </div>
       </div>
      </div>
  </div>
</div>
<br>
<div style="text-align:center; margin:1rem">
  <button type="button" class="btn btn-primary" style="margin: 1rem;">Registrar Resultados</button>
</div>
